        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Quem somos</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="assets/images/cs.jpg" alt="" height="200" width="200">
                <h3>Carlos Stucki
                    <small>Job Title</small>
                </h3>
                <p>Especialista em Gestão de Negócios de Tecnologia da Informação, atuando nos últimos anos em desenho interno de organizações e, atualmente, está no SEBRAE, onde teve o contato com o tema empreendedorismo social e desde então busca empreender nesta linha. É um entusiasta de projetos estratégicos que proporcionem mudanças e que impactem positivamente no ambiente ao meu redor. Sua perspectiva é a de que tudo pode ser constantemente melhorado!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="assets/images/marcelo.png" alt="" height="200" width="200">
                <h3>Marcelo Soares Souza
                    <small>Job Title</small>
                </h3>
                <p>Consultor em Tecnologia na EMBRAPA. Com vinte anos de experiencia profissional na área de Tecnologia da Informação e Comunicação (TIC), é militante pela Inclusão e Cultura Digital, participando de ações envolvendo tecnologia e sociedade para o empoderamento da sociedade civil organizada. Cabe destacar o desenvolvimento de uma plataforma livre para o Mapeamento de Entidades Culturais brasileiras (mapadacultura.org), solução também utilizada no Observatório Saúde LGBT e no Observatório de Políticas de Atenção à Saúde Mental (OPSAM) da Universidade de Brasília.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="assets/images/fran.png" alt="" height="200" width="200">
                <h3>Francisco Meira
                    <small>Job Title</small>
                </h3>
                <p>Profissional de finanças, com dez anos de experiência em auditoria e contabilidade em empresas multinacionais. Nestas, atuou sempre com atenção especial ao lado humano e social, buscando produtividade e eficiência no trabalho por meio da aproximação entre os indivíduos. Dedica-se diretamente em ações sociais a mais de um ano, nas ruas e entidades sociais na cidade de Salvador/BA, conhecendo assim as necessidades da população carentes e instituições de apoio. Acredita que fazer o bem, faz melhor ainda para quem o faz, por isso vestiu a camisa dessa causa.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="assets/images/tata.png" alt="" height="200" width="200">
                <h3>Thaís Hagale
                    <small>Job Title</small>
                </h3>
                <p>Engenheira Florestal, pela Universidade de Brasília, possui pós-graduação em gestão pública e está cursando MBA em Gerenciamento de Projetos de TI. Com mais de cinco anos de experiência em gerenciamento de projetos, no ano de 2016, passou na certificação internacional PMP do renomado Project Management Institute (PMI). Atualmente, está na área de geoprocessamento, com foco causa indígena. Acredita que fazer o bem, faz melhor ainda para quem o faz, por isso vestiu a camisa dessa causa.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="assets/images/dbs.jpg" alt="" height="200" width="200">
                <h3>Daniel Serva
                    <small>Job Title</small>
                </h3>
                <p>Engenheiro de software, possui MBA em Gestão Estratégica da Tecnologia da Informação pela Fundação Getúlio Vargas (FGV). Com mais de dez anos de experiência, atuou como consultor para o governo, instituições financeiras, seguro e telecomunicação. Atualmente trabalha como engenheiro de software em Dublin, Irlanda. Acredita que a educação e a tecnologia fazem parte do caminho para uma sociedade menos desigual.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="assets/images/naldo.jpg" alt="" height="200" width="200">
                <h3>Dagnaldo Silva
                    <small>Job Title</small>
                </h3>
                <p>Cursando Sistemas de Informações, em Brasília, e, atualmente, trabalha na área de geoprocessamento, com foco na sustentabilidade e proteção territorial. Entre as causas que apoia está o compartilhamento e geração de conhecimento livre e acessível! Acredita que fazer o bem, faz melhor ainda para quem o faz, por isso vestiu a camisa dessa causa.</p>
            </div>
        </div>
