<fbfb-carousel></fbfb-carousel>
<div class="row">
<footer class="footer">
  
    <div class="container">
      <div class="col-md-1"></div>
      <div class="col-md-3" >    
        <div class="footer-texto">
          <b>Alguma Dúvida?</b>
          <h2>Fale Conosco:</h2>
        </div>
      </div>
      <div class="col-md-1"> </div>
      <div class="col-md-1">
        <div class="footer-links ">
            <a class="btn btn-primary"  href="mailto:equipe@fazbemfazerobem.org">
              <i class="fa fa-envelope"></i> E-Mail</a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="footer-links ">
            <a class="btn btn-warning"  href="#">
              <i class="fa fa-phone"></i>Telefone</a>
        </div>
      </div>
      <div class="col-md-5"></div>
    </div>
  </footer>
  </div>