<div class="row">
<fbfb-carousel></fbfb-carousel>
</div>

<div class="box">
  <div class="row col-md-6"></div>
  <div class="row col-md-6">
    <sebm-google-map [latitude]="lat" [longitude]="lng">
      <sebm-google-map-marker latitude="-23.523056" longitude="-46.645040"></sebm-google-map-marker>
      <sebm-google-map-marker latitude="-15.733968" longitude="-47.900715"></sebm-google-map-marker>
      <sebm-google-map-marker latitude="-12.917755" longitude="-38.442345"></sebm-google-map-marker>
    </sebm-google-map>
  </div>
</div>

<div class="row">
<footer class="footer">
  
    <div class="container">
      <div class="col-md-1"></div>
      <div class="col-md-3" >    
        <div class="footer-texto">
          <b>Alguma Dúvida?</b>
          <h2>Fale Conosco:</h2>
        </div>
      </div>
      <div class="col-md-1"> </div>
      <div class="col-md-1">
        <div class="footer-links ">
            <a class="btn btn-primary"  href="mailto:equipe@fazbemfazerobem.org">
              <i class="fa fa-envelope"></i> E-Mail</a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="footer-links ">
            <a class="btn btn-warning"  href="#">
              <i class="fa fa-phone"></i>Telefone</a>
        </div>
      </div>
      <div class="col-md-5"></div>
    </div>
  </footer>
  </div>